.books {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
}

.book {
    display: flex;
    width: 20em;
    height: 25em;
    flex-direction: column;
    background-color: beige;
    border: 0.4em solid brown;
    outline: 1em solid beige;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.author {
    font-size: 2em;
    margin: 1em;
}
.title {
    font-size: 2em;
}
